{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<table class = "table table-striped" style="width: 70%; margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <tr>
                <th><a href="/change_pass"><button class="btn btn-primary">Change Password</button></a></th>
            </tr>
        </tr>

    </thead>
    <tbody>

    </tbody>
    <tfoot style="font-weight: bold;">
        <tr>
            <td colspan="4"></td>
            <td>{{total}}</td>
        </tr>
    </tfoot>

<table>
{% endblock %}



