{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<table class = "table table-striped" style="width: 70%; margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>

    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{stock["symbol"]}}</td>
            <td>{{stock["name"]}}</td>
            <td>{{stock["SUM(shares)"]}}</td>
            <td>{{usd(stock["price"])}}</td>
            <td>{{usd(stock["SUM(shares)"] * stock["price"])}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Cash</td>
            <td colspan="3"></td>
            <td>{{cash}}</td>
        </tr>
    </tbody>
    <tfoot style="font-weight: bold;">
        <tr>
            <td colspan="4"></td>
            <td>{{total}}</td>
        </tr>
    </tfoot>

<table>
{% endblock %}



