
                        {% extends "encyclopedia/layout.html" %}

                        {% block title %}
                            CS50
                        {% endblock %}

                        {% block body %}
                        <h1>CS50</h1>    
                            This is CS50W
                        {% endblock %}

                        {% block nav %}
                            <a href="/edit/CS50">Edit Page</a>
                        {% endblock %}

                        {% block post %}
                            <button type="submit" class="btn btn-primary">Search</button>
                        {% endblock %}

                