
                        {% extends "encyclopedia/layout.html" %}

                        {% block title %}
                            CSS
                        {% endblock %}

                        {% block body %}
                        <h1>CSS</h1>    
                            This is CSS
                        {% endblock %}

                        {% block nav %}
                            <a href="/edit/CSS">Edit Page</a>
                        {% endblock %}

                        {% block post %}
                            <button type="submit" class="btn btn-primary">Search</button>
                        {% endblock %}

                