
                        {% extends "encyclopedia/layout.html" %}

                        {% block title %}
                            GIT
                        {% endblock %}

                        {% block body %}
                        <h1>GIT</h1>    
                            This is GIT
                        {% endblock %}

                        {% block nav %}
                            <a href="/edit/GIT">Edit Page</a>
                        {% endblock %}

                        {% block post %}
                            <button type="submit" class="btn btn-primary">Search</button>
                        {% endblock %}

                