
                        {% extends "encyclopedia/layout.html" %}

                        {% block title %}
                            Hello
                        {% endblock %}

                        {% block body %}
                        <h1>Hello</h1>    
                            Hello Hassan!
                        {% endblock %}

                        {% block nav %}
                            <a href="/edit/Hello">Edit Page</a>
                        {% endblock %}

                        {% block post %}
                            <button type="submit" class="btn btn-primary">Search</button>
                        {% endblock %}

                