
                        {% extends "encyclopedia/layout.html" %}

                        {% block title %}
                            HTML
                        {% endblock %}

                        {% block body %}
                        <h1>HTML</h1>    
                            Hyper-Text Markup Language
                        {% endblock %}

                        {% block nav %}
                            <a href="/edit/HTML">Edit Page</a>
                        {% endblock %}

                        {% block post %}
                            <button type="submit" class="btn btn-primary">Search</button>
                        {% endblock %}

                