
                        {% extends "encyclopedia/layout.html" %}

                        {% block title %}
                            Python
                        {% endblock %}

                        {% block body %}
                        <h1>Python</h1>    
                            This is Python
                        {% endblock %}

                        {% block nav %}
                            <a href="/edit/Python">Edit Page</a>
                        {% endblock %}

                        {% block post %}
                            <button type="submit" class="btn btn-primary">Search</button>
                        {% endblock %}

                