{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/change_pass" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_pass" name="old_pass" placeholder="Old password" type="text">
    </div>

    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_pass" name="new_pass" placeholder="New Password" type="text">
    </div>

    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="text">
    </div>


    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
