{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<table class = "table table-striped" style="width: 70%; margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>

    <tbody>
        {% for transaction in history_list %}
        <tr>
            <td>{{transaction["symbol"]}}</td>
            <td>{{transaction["shares"]}}</td>
            <td>{{transaction["price"]}}</td>
            <td>{{transaction["time"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
<table>
{% endblock %}



